.addPage__topBlock {
  min-height: 288px;
  background-image: url("../images/addPage/addPageBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

.addPage__topBlock-container {
  max-width: 1440px;
  padding: 40px 24px;
  margin: 0px auto;
  width: 100%;
}

.addPage__title {
  font-family: "Urbanist";
  font-weight: 900;
  font-size: 114.142px;
  line-height: 83%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40px;
}

.addPage__back {
  font-family: "Urbanist";
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  cursor: pointer;
}

.addPage__back-black{
  color: #000;
}

.addPage__main {
  background-color: #b2d6ff;
}

.addPage__main-container {
  max-width: 864px;
  width: 100%;
  margin: 0px auto;
  padding: 40px 32px;
}

.addPage__main-top {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #070320;
  margin-bottom: 32px;
}

.addPage__main-p {
  margin-bottom: 24px;

  h4 {
    font-family: "Urbanist";
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    margin-bottom: 8px;
  }

  p {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 16px;
    opacity: 0.7;
  }

  a {
    color: #014dd1;
  }

  li {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 16px;
    opacity: 0.7;
  }

  ul,
  li {
    list-style: inside;
  }

}

.addPage__main-p-bold {
  opacity: 1 !important;
}

.addPage__main-p:last-child {
  margin-bottom: 81px;
}

.addPage__footer {
  display: flex;
  background-color: #b2d6ff;

  .main-content {
    min-height: 100vh;
    flex-grow: 1;
    height: unset;
  }
}

.addPage__footer-left {
  width: 445px;
  background-image: url("../images/landing/seven-section.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.addPage__footer-right {
  padding: 66px 41px 24px;
  position: relative;
  display: flex;
  flex-direction: column;

  .btn-transform-round {
    margin-top: 10px;
  }
}

.addPage__footer-title {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 88px;
  line-height: 91%;
  margin-top: 8px;
}

.footer-addPage {
  width: 100%;
  bottom: 0px;
  position: relative;
}

.footer-phone {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.btn-wrapper {

  position: relative;
  z-index: 51;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-page {
  max-width: 1440px;
  padding: 70px 24px 160px 24px;
  margin: 0px auto;
  width: 100%;
  display: flex;
  gap: 44px;
}

.about-page__item {
  flex-basis: 33.33%;
  h4 {
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  p {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
  }
}

.footer-links {
  margin-bottom: 10px;
}

.footer-top-bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footer-social-mobile{
display: none;
}

@media (max-width: 1430px) {
  .about-page__item h4{
    font-size: 32px;
  }
}

@media (max-width: 1300px) {
  .addPage__footer-title {
    font-size: 50px;
  }
}


@media (max-width: 1180px) {
  .about-page__item{
    flex-basis: 100%;
  }
  .about-page{
    flex-wrap: wrap;
  }
}


@media (max-width: 1024px) {
 .about-page{
  gap: 32px;
  padding: 40px 24px 100px 24px;
 }

 .about-page__item h4{
  font-size: 32px;
  margin-bottom: 8px;
 }
}


@media (max-width: 950px) {
  .addPage__title {
    font-size: 60px;
  }

  .addPage__main-p h4 {
    font-size: 22px;
    margin-bottom: 4px;
  }

  .addPage__main-p:last-child {
    margin-bottom: 40px;
  }

  .addPage__footer-title {
    font-size: 32px;
  }
}

@media (max-width: 720px) {
  .addPage__footer .main-content {
    display: none;
  }

  .addPage_logo {
    width: 150px;
  }

  .addPage__footer-title {
    font-size: 28px;
  }

  .btn-wrapper {
    justify-content: center;
    margin-top: 32px;
  }
}

@media (max-width: 430px) {
  .about-page__item h4{
    font-size: 24px;
  }
  .about-page__item p{
    font-size: 14px;
  }

  .about-page{
    padding: 32px 24px 50px 24px
  }

   }


@media (max-width: 400px) {
  .addPage__footer-right {
    padding: 24px;

    .footer-links {
      gap: 16px;
    }

    .footer-social {
      gap: 16px
    }
  }

  .footer-social-hide-mobile{
    display: none;
  }

  .footer-top{
    align-items: center;
  }

  .footer-top-bottom{
    justify-content: center;
  }
  .footer-bottom{
    justify-content: center;
  }

  .footer-social-mobile{
    display: flex;
    margin-bottom: 27px;
  }
}