.last-section {
  background-color: #fff846;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-section__inner {
  height: 95%;
  width: 95%;
  padding-left: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last-section-title {
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 88px;
  line-height: 80px;
  color: #070320;
  margin-bottom: 40px;
}

.footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.footer-top {
  margin-bottom: 8px;
}

.footer-links {
  display: flex;
  gap: 24px;

  li {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-phone {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

@media (max-width: 1300px) {
  .last-section-title {
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 16px;
  }

  .last-section__inner {
    padding-left: 0px;

  }
}

@media (max-width: 850px) {
  .footer {
    position: relative;
  }

  .last-section__inner {
    justify-content: space-between;
    padding-top: 150px;
  }

  .last-section-title {
    margin-bottom: 0px;
  }

  .btn-transform-round {
    margin-top: 0px;
  }
}

@media (max-width: 700px) {
  .last-section-title {
    font-size: 34px;
  }

  .last-section {
    .btn-transform-round {
      align-self: center;
    }
  }

  .last-section__inner {
    padding-top: 100px;
  }
}


@media (max-width: 400px) {
  .last-section-title {
    font-size: 34px;
  }


  .last-section__inner {
    padding-top: 50px;
  }
}