.six-section{
  background-color: #FFB8A4;
  display: flex;
  align-items: center;
  min-width: fit-content;
  width: fit-content;

}

.six-section__inner{
  height: 95%;
  display: flex;
  align-items: center;
  img{
    flex-shrink: 0;
    max-width: unset;
  }
}

.six-section__logos{
  height: 80%;
  margin-right: 16px;
  flex-shrink: 0;
  padding-left: 98px;
  img{
    height: 100%;
    object-fit: contain;
  }
}

.six-section-logo{
  margin-left: 37px;
  margin-right: 45px;
}

.six-section-last-img{
  margin-left: 74px;
  margin-right: 131px;

}


.six-section-mobile-img{
  display: none;
}

.six-section-logo-mobile{
  display: none;
}

@media (max-width: 1300px) {
  .six-section-last-img{
    margin-right: 50px;
  max-height: 80%;
  max-width: 500px;
  }
}

@media (max-width: 850px) {

  .six-section__inner{
    justify-content: space-between;
    img{
      width: 100%;
    }
  }

  .six-section{
   width: 100%;
   height: unset;
   padding-top: 100px;
   padding-bottom: 100px;
  }
  .six-section__logos{
    height: unset;
    width: 100%;
    padding-left: 32px;
    flex-basis: 30%;
  }

  .six-section--second{
    display: none;
  }

  .six-section-mobile-img{
    display: block;
    width: 100%;
    padding-right: 32px;
    flex-basis: 40%;
  }
  .six-section-arrow-mobile{
    width: 100px;
    flex-basis: 20%;
    ;
  }

  .six-section-logo-mobile{
    display: block;
    margin: 0px auto;
  }
}


@media (max-width: 700px) {
  .six-section__inner{
   flex-direction: column;
   gap: 24px;
  }
  .six-section-mobile-img{
    padding-right: 0px;
    width: 90%;
    margin: 0px auto;
  }

  .six-section{
    display: none;
  }

}
